@import 'src/fonts/font.css';

:root {
	--main-blue: #005197;
	--main-radius: 8px;
	--main-grey: #2F2F2F;
	--light-blue: #0088CC;
	--dark-blue: #303757;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--body-color);
}

* {transition: 0.3s ease-in-out; font-family: "Montserrat", serif;}
button:focus {outline: none;}
input:focus {outline: none;}
textarea:focus {outline: none;}
ul, li {padding: 0;margin: 0;list-style: none;}

::-webkit-scrollbar {background: rgba(255, 255, 255, 1); width: 7px;, height: 2px;}
::-webkit-scrollbar-thumb {background: #999999; border-radius: 0px;}
::-webkit-scrollbar-track-piece {background: transparent;}

#main-block {
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	background: transparent;
	text-align: center;
	border: 1px solid transparent;
	width: 95%;
}

#main-header-block > div:nth-of-type(1) {
	font-size: 20pt;
	letter-spacing: 1.5px;
	color: var(--main-blue);
	font-weight: bold;
}

#main-search-input {
	background-color: white;
	color: var(--dark-grey);
	padding: 6px;
	padding-left: 10px;
	width: 50%;
	font-size: 14pt;
	letter-spacing: -0.5px;
	border: 2px solid var(--main-blue);
	border-bottom: 2px solid var(--main-blue);
	border-radius: var(--main-radius);
}
#main-search-input:focus {
	border: 2px solid transparent;
	border-bottom: 2px solid var(--light-blue);
	border-radius: 0px;
}

#main-wallet-block {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 60px;
	border: 3px solid var(--main-blue);
	border-radius: var(--main-radius);
	background-color: white;
	display: none;
}

#main-wallet-block > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#main-wallet-block > div > span:nth-of-type(1) {
	width: 180px;
	letter-spacing: 0.5px;
	font-weight: bold;
	user-select: none;
}
#main-wallet-block > div > span:nth-of-type(2) {
	width: 100%;
	letter-spacing: 0.5px;
	font-size: 13pt;
}
#main-wallet-block > div > span {
	padding: 8px;
	border: 2px solid transparent;
}

#main-transactions-block {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: 20px;
	border: 3px solid var(--main-blue);
	border-radius: var(--main-radius);
	background-color: white;
	display: none;
	overflow-x: scroll;
	white-space: nowrap;
}

#main-transactions-block::-webkit-scrollbar {display: block; height: 8px;}
#main-transactions-block::-webkit-scrollbar-thumb {background: #999999; border-radius: 0px;}
#main-transactions-block::-webkit-scrollbar-track-piece {background: transparent;}
#main-transactions-table {width: 100%; border-collapse: collapse;}
#main-transactions-table > tr > th {font-weight: bold; user-select: none;}
#main-transactions-table > tr > td:nth-of-type(3),
#main-transactions-table > tr > td:nth-of-type(2) {text-align: right;}
#main-transactions-table > tr > th:nth-of-type(3),
#main-transactions-table > tr > th:nth-of-type(2) {text-align: center;}

table, th, td {
  border-collapse: collapse;
  padding: 12px;
  text-align: left;
}





