@media screen and (max-width: 550px) {
	#main-block {width: 100%;}

	#main-header-block {
		width: 100%;
		height: 70px;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	#main-header-block > div {padding: 16px;}
	#main-header-block > div:nth-of-type(1) {text-align: center;}
	#main-header-block > div:nth-of-type(2) {text-align: center;}
	#main-header-block > div:nth-of-type(1) > div {font-size: 18pt; letter-spacing: 0.5px;}

	#main-wallet-block {width: 90%; margin-top: 100px;}
	#main-wallet-block > div {font-size: 12pt;}
	#main-wallet-block > div > span:nth-of-type(1) {width: 90px; letter-spacing: 0px;}
	#main-wallet-block > div > span:nth-of-type(2) {width: 90%; letter-spacing: 0px;}
	#main-wallet-block > div > span {padding: 6px;}

	#main-transactions-block {width: 100%; margin-top: 30px;}
	#main-transactions-block > div {width: 90%; font-size: 12pt;}
	#main-transactions-block > div > div {padding: 5px; letter-spacing: 0px;}
	#main-transactions-block > div > div:nth-of-type(1) {font-size: 14pt;}
	#main-transactions-block > div > div:nth-of-type(2) > span {font-size: 13pt;}

	#no-transactions-block, #error-block {
		display: none;
		margin-top: 40px;
		font-size: 14pt;
		font-weight: bold;
		letter-spacing: 1px;
	}
}
